# ASSIGNMENTS - 1

## send the mail to

## send it before 0000 hrs IST | 12 AM tonight
## Special cases respond atleast before 1200 hrs IST tomorrow i.e Monday

TO: query@ineuron.ai CC: sunny@ineuron.ai, riishav@ineuron.ai, boktiar@ineuron.ai

Subject: [Bootcamp 2.0 | Assignment No. 1]:


1.   Find out all the types of error that we have encountered in our lecture and why? Also include the examples.
2.   Take input A and B and print their sum, mul, div, square of the nos.
3. How many reserve keywords are there in python and why we should not use them as a variable name.
4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com
5. Try to print the following lines -
  * My address is 22\3
  * I earn 20$ daily.
6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs
7. Convert the following -
  * "22.4" into 22
  * "22" into complex no.

# 1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

# Error 1

In [1]:
AVG = 10
avg = 20
# AVG and avg both are different in terms of lowercase and uppercase letter

In [3]:
print(Avg) # trying to print the variable which is not defined, we will get name is not defined error

NameError: ignored

# Error 2

In [4]:
print = 10 # defined print as a variable
type(print)

int

In [6]:
print("Hello iNeuron") # when ever we call print method it will through error, because we used reserved keyword as variable

TypeError: ignored

In [7]:
del print

In [8]:
print("hello")

hello

# Error 3

In [36]:
a, b, c = 10 # multi assignment variables, we can't assign a sigle value value to multiple variables with this syntax

TypeError: ignored

In [35]:
a=b=c=10 # correct way of assigning

# Error 4

In [37]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ") # gives string value

age = 2022 - year_of_birth # it will through error, (int-string) computation is performing, type conversion required

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: Sridhar
place: Hyderabad
year_of_birth: 1990

TypeError: ignored

In [38]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = int(input("year_of_birth: ")) # convert this into integer

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: Sridhar
place: Hyderabad
year_of_birth: 1990

My name is: Sridhar
I live at: Hyderabad
Sridhar is of age: 32

# Error 5

In [39]:
int x # in python need not to specify datatype

SyntaxError: ignored

## Error **6**

In [40]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: ")) # 10.2 is float but converting to int

print(f"Sum of A and B is: {A+B}")

Enter value of A: 10.2
Enter value of B: 20.2

ValueError: ignored

In [41]:
# String to integer
A = "50.22" # entering float
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A) # trying to convert into integer
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.22

ValueError: ignored

In [42]:
# empty string to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: ignored

# 2. Take input A and B and print their sum, mul, div, square of the nos.

In [33]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")
print(f"Multification of A and B is: {A*B}")
print(f"Division of A and B is: {A/B}")
print(f"Square of A is: {A**A} and Square of B is: {B**B}")
print(f"A Square B is: {A**B}")

Enter value of A: 10
Enter value of B: 2
Sum of A and B is: 12
Multification of A and B is: 20
Division of A and B is: 5.0
Square of A is: 10000000000 and Square of B is: 4
A Square B is: 100

# 3. How many reserve keywords are there in python and why we should not use them as a variable name.

In [27]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

  * Reserved words are case-sensitive and must be used exactly as shown. They are all 
entirely lowercase, except for False, None, and True.
  * The keyword cannot be used as an identifier, function, and variable name.(keywords have predefined meanings we shoud not change the meaning)

#4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

## Method **1**

In [21]:
firstName, middleName, sirName = "sridhar", "reddy", "gogu"
print(f"{firstName}.{sirName}@gmail.com")

sridhar.gogu@gmail.com

# Method 2

In [25]:
# creating email IDs with the user input

firstname = input("First Name: ") 
middlename = input("Middle Name: ") 
lastname = input("Last Name: ") 

print(f"""
Email ID of {firstname} is: {lastname}.{firstname}@gmail.com
""")

First Name: sridhar
Middle Name: reddy
Last Name: gogu

Email ID of sridhar is: gogu.sridhar@gmail.com

#5. Try to print the following lines -


*  Hi I'm Sunny
*  My address is 22\3
*  I earn 20$ daily.

In [20]:
print("""Hi I'm Sunny
My address is 22\3
I earn 20$ daily""")

Hi I'm Sunny
My address is 22
I earn 20$ daily

# 6.Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [10]:
# printing email ID of the user

name = input("Name: ") # always gives you string values
address = input("Address: ")
year_of_birth = input("year_of_birth: ") # convert this into integer
email_id = input("Email ID: ")

print(f"""
My name is: {name}
I am living at: {address}
Email ID of {name} is: {email_id}
""")

Name: Sridhar
Address: Hyderabad
year_of_birth: 1990
Email ID: sridhar@gmail.com

My name is: Sridhar
I am living at: Hyderabad
Email ID of Sridhar is: sridhar@gmail.com

# 7. Convert the following -
* "22.4" into 22
* "22" into complex no.

In [11]:
# String to integer
x = "22"
print(f"data type before: {type(x)}, value of x: {x}")
x = int(x)
print(f"data type after: {type(x)}, value of x: {x}")

data type before: <class 'str'>, value of x: 22
data type after: <class 'int'>, value of x: 22

In [19]:
# String to complex no.
x = "2 + 5j"
print(f"data type before: {type(x)}, value of x: {x}")
x = x.replace(" ", "") # will do nothing if unneeded
y = complex(x)
print(f"data type after: {type(y)}, value of x: {y}")

data type before: <class 'str'>, value of x: 2 + 5j
data type after: <class 'complex'>, value of x: (2+5j)